<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Doctolib</h2>
<p><%= @dispo_docto %></p>
<%= link_to "Voir le site", "https://www.doctolib.fr/vaccination-covid-19/44300-nantes", target: "_blank"  %>

<h2>Maiia</h2>
<p><%= @dispo_maiia %></p>
<%= link_to "Voir le site", "https://www.maiia.com/centre-de-vaccination/44000-NANTES", target: "_blank"  %>

<h2>Keldoc</h2>
<p><%= @dispo_keldoc %></p>
<%= link_to "Voir le site", "https://www.keldoc.com/vaccination-covid-19/nantes", target: "_blank"  %>
